body {
    margin: 0;
    overflow-y: hidden;
    padding: 0;
    background-color: ivory;
}

.canvas {
    width: 34.792%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
}